In [1]:
%cd ~/SSMuLA

/disk2/fli/SSMuLA

In [2]:
%load_ext autoreload
%autoreload 2
%load_ext blackcellmagic

In [3]:
import pandas as pd
import numpy as np

In [4]:
import math

In [15]:
freq = pd.read_csv("add_data/ParD3_frequency.csv", index_col = 0).reset_index().rename(columns={"index": "AAs"})
freq

,AAs,ParE3_rep1_t0,ParE2_rep1_t0,ParE3_rep2_t0,ParE2_rep2_t0,ParE3_rep1_t600,ParE2_rep1_t600,ParE3_rep2_t600,ParE2_rep2_t600
0,AAA,0.000091,0.000075,0.000086,0.000076,1.104860e-04,2.720000e-06,1.001070e-04,4.850000e-06
1,AAC,0.000057,0.000065,0.000067,0.000068,3.160000e-05,1.360000e-06,3.240000e-05,2.100000e-06
2,AAD,0.000049,0.000034,0.000041,0.000041,2.510000e-05,1.140000e-06,1.940000e-05,6.470000e-07
3,AAE,0.000057,0.000052,0.000054,0.000049,2.765070e-04,1.590000e-06,2.980930e-04,1.130000e-06
4,AAF,0.000133,0.000125,0.000133,0.000121,1.578370e-04,6.810000e-06,1.513600e-04,7.760000e-06
...,...,...,...,...,...,...,...,...,...
9256,**T,0.000063,0.000074,0.000063,0.000078,5.850000e-07,2.270000e-06,1.200000e-06,1.290000e-06
9257,**V,0.000085,0.000092,0.000075,0.000091,1.460000e-06,1.360000e-06,1.200000e-06,1.620000e-06
9258,**W,0.000039,0.000045,0.000044,0.000048,5.850000e-07,1.590000e-06,3.430000e-07,2.430000e-06
9259,**Y,0.000048,0.000053,0.000044,0.000055,5.850000e-07,9.080000e-07,1.710000e-07,1.290000e-06
9260,***,0.000041,0.000056,0.000041,0.000057,1.170000e-06,4.540000e-07,1.710000e-07,4.850000e-07

In [ ]:
np.log()/np.log()

In [18]:
freq[freq["AAs"] == "AAA"]

,AAs,ParE3_rep1_t0,ParE2_rep1_t0,ParE3_rep2_t0,ParE2_rep2_t0,ParE3_rep1_t600,ParE2_rep1_t600,ParE3_rep2_t600,ParE2_rep2_t600
0,AAA,0.000091,0.000075,0.000086,0.000076,0.00011,0.000003,0.0001,0.000005

In [17]:
fit = pd.read_csv("add_data/ParD3_fitness.csv", index_col = 0).reset_index().rename(columns={"Variant": "AAs"})
fit

      AAs   W_ParE3   W_ParE2
0     AAA  0.633183  0.141509
1     AAC  0.514501  0.044556
2     AAD  0.506210  0.029033
3     AAE  0.842829  0.051020
4     AAF  0.629499  0.172673
...   ...       ...       ...
7877  YYS  0.187926  0.019523
7878  YYT  0.280424  0.033185
7879  YYV  0.413510 -0.028016
7880  YYW  0.276149 -0.002522
7881  YYY  0.326758 -0.003013

[7882 rows x 3 columns]

In [19]:
fit[["AAs", "W_ParE3"]].to_csv("data/ParDE/fitness_landscape/ParDE3.csv", index=False)

In [20]:
fit[["AAs", "W_ParE2"]].to_csv("data/ParDE/fitness_landscape/ParDE2.csv", index=False)