In [1]:
%cd ~/SSMuLA

/disk2/fli/SSMuLA

In [2]:
import pandas as pd

import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
pandas2ri.activate()

In [3]:
readRDS = robjects.r['readRDS']

In [4]:
df_reads = pd.DataFrame(pandas2ri.rpy2py(readRDS('data/folA/sequence_reads_counts.RDS')))
df_reads

,0,1,2,3,4,5,6,7,8,9,...,1568258,1568259,1568260,1568261,1568262,1568263,1568264,1568265,1568266,1568267
0,35613,27972,30530,25930,28702,22740,1796,1352,1398,1206,...,14.0,16.0,16.0,9.0,22.0,15.0,19.0,17.0,14.0,13.0
1,42405,39138,46575,35291,52112,28608,40852,39453,46503,34711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_reads.columns[df_reads.isna().any()]

Int64Index([1567998, 1567999, 1568000, 1568001, 1568002, 1568003, 1568004,
            1568005, 1568006, 1568007,
            ...
            1568258, 1568259, 1568260, 1568261, 1568262, 1568263, 1568264,
            1568265, 1568266, 1568267],
           dtype='int64', length=270)

In [22]:
df_fit_wt = pd.DataFrame(pandas2ri.rpy2py(readRDS('data/folA/fitness_data_wt.rds')))
df_fit_wt

,SV,m,m_p.value,m_se,codon1,aa1,codon2,aa2,codon3,aa3
1,GCCGATCTC,0.000000,NaN,NaN,GCC,A,GAT,D,CTC,L
2,AAAAAAAAA,-0.733843,1.678657e-265,0.021081,AAA,K,AAA,K,AAA,K
3,AAAAAAAAC,-0.656973,9.986430e-220,0.020763,AAA,K,AAA,K,AAC,N
4,AAAAAAAAG,-0.701521,2.904312e-261,0.020317,AAA,K,AAA,K,AAG,K
5,AAAAAAAAT,-0.708582,0.000000e+00,0.017354,AAA,K,AAA,K,AAT,N
...,...,...,...,...,...,...,...,...,...,...
261329,TTTTTTTGT,-0.704201,7.938901e-167,0.025581,TTT,F,TTT,F,TGT,C
261330,TTTTTTTTA,-0.753399,9.255538e-165,0.027541,TTT,F,TTT,F,TTA,L
261331,TTTTTTTTC,-0.651373,3.867743e-119,0.028068,TTT,F,TTT,F,TTC,F
261332,TTTTTTTTG,-0.718291,1.466173e-138,0.028666,TTT,F,TTT,F,TTG,L
261333,TTTTTTTTT,-0.733138,3.126894e-180,0.025610,TTT,F,TTT,F,TTT,F

In [24]:
df_fit_small = pd.DataFrame(pandas2ri.rpy2py(readRDS('data/folA/fitness_data_small.RDS')))
df_fit_small

            SV        01        02        03        04        05        06
1    GCCGAAAAA -0.401976 -0.408908 -0.409582 -0.406736 -0.344665 -0.339534
2    GCCGAAAAC -0.479776 -0.466729 -0.464028 -0.463353 -0.416806 -0.425299
3    GCCGAAAAG -0.353224 -0.357564 -0.351429 -0.364205 -0.304080 -0.303968
4    GCCGAAAAT -0.488101 -0.500881 -0.492776 -0.502090 -0.439447 -0.424075
5    GCCGAAACA -0.149717 -0.162534 -0.155218 -0.159862 -0.107861 -0.099481
..         ...       ...       ...       ...       ...       ...       ...
251  GCCGATTGT  0.155085  0.098497  0.118955  0.105011  0.154794  0.183642
252  GCCGATTTA -0.346061 -0.388943 -0.368994 -0.378414 -0.314714 -0.327794
253  GCCGATTTC  0.351430  0.196767  0.340070  0.081217  0.329768  0.374011
254  GCCGATTTG -0.300443 -0.310567 -0.311655 -0.345236 -0.260774 -0.255248
255  GCCGATTTT  0.134491  0.085023  0.094590  0.076659  0.128924  0.165521

[255 rows x 7 columns]

In [4]:
df_distDF = pd.DataFrame(pandas2ri.rpy2py(readRDS('data/folA/distDF_fitness.rds')))
df_distDF

,from,to,hamm.dist,Fitness_to,Fitness_from,Fitness_diff
1,AAAAAAAAA,AAAGAAAAA,1.0,-0.201418,-0.733843,0.532425
2,AAAAAAAAA,AAATAAAAA,1.0,-0.708282,-0.733843,0.025560
3,AAAAAAAAA,AACAAAAAA,1.0,-0.723160,-0.733843,0.010683
4,AAAAAAAAA,AAGAAAAAA,1.0,-0.769400,-0.733843,-0.035557
5,AAAAAAAAA,AATAAAAAA,1.0,-0.740924,-0.733843,-0.007082
...,...,...,...,...,...,...
3518692,TTTTTTTTT,TTTTTTTCT,1.0,-0.482939,-0.733138,0.250199
3518693,TTTTTTTTT,TTTTTTTGT,1.0,-0.704201,-0.733138,0.028937
3518694,TTTTTTTTT,TTTTTTTTA,1.0,-0.753399,-0.733138,-0.020261
3518695,TTTTTTTTT,TTTTTTTTC,1.0,-0.651373,-0.733138,0.081765
3518696,TTTTTTTTT,TTTTTTTTG,1.0,-0.718291,-0.733138,0.014847

In [5]:
df_gr = pd.DataFrame(pandas2ri.rpy2py(readRDS('data/folA/folAmix_growth_rate.RDS')))
df_gr

      Plate Row Column Well   OD600   Exp    Treatment
1   Plate01   A      1   A1  0.1720  T4.1           M9
2   Plate01   A      2   A2  0.7014  T4.1           M9
3   Plate01   A      3   A3  0.6224  T4.1           M9
4   Plate01   A      4   A4  0.9690  T4.1           M9
5   Plate01   A      5   A5  0.9706  T4.1           M9
..      ...  ..    ...  ...     ...   ...          ...
92  Plate02   H      2   H2  0.9622  T4.1  M9-folA_mix
93  Plate02   H      3   H3  0.9288  T4.1  M9-folA_mix
94  Plate02   H      4   H4  0.8617  T4.1  M9-folA_mix
95  Plate02   H      5   H5  0.9575  T4.1  M9-folA_mix
96  Plate02   H      6   H6  0.9772  T4.1  M9-folA_mix

[96 rows x 7 columns]